@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');

/* .bg-gradient{
    height:100vh;
    width:100%;
    /* background-image: linear-gradient(270deg,#0f468e,#6ca2cc) ; */
/*      background-image: linear-gradient(-90deg,#8360c3, #2e9dbf) ;  */
    /* repeat : no-repeat; 
/*     background-image : "/mywebsite/new-background.jpeg" ; */
/*   } */

body{
    background:linear-gradient(45deg,#8cf4f8, #367bdc, #ff9090, #9fff7f);
    background-size:300% 300%;
    animation:color 12s ease-in-out infinite;
/*     height: 100vh;
    width: 100%; */
}

@keyframes color {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#firstpara{
    background-color: #d3d3bd;;
    height: 130px;
}
img { 
    width:25px;
    height:25px;
}

#img1{width: 50px;height: 50px;object-fit: cover;border-radius: 50%;}

/*Homepage buttons*/
.btn {
  border: 2px solid black;
  background-color: white;
  border-radius:10px;
  color: black;
  padding: 10px 25px;
  font-size: 12px;
  cursor: pointer;
}
/* Green */
.utube {
  border-color: #f44336;
  color: black;

  transition: all 0.3s;
}
.utube:hover {
  transform: translateY(-10px);
  background-color:#f44336 ;
  color: white;
}

/* Blue */
.elon {
  border-color: #2196F3;
  color: black;
  transition: all 0.3s;
}

.elon:hover {
transform: translateY(-10px);
  background: #2196F3;
  color: black;
}

/* Orange */
.snap {
  border-color: #ff9800;
  color: black;
transition: all 0.3s;
}

.snap:hover {
transform: translateY(-10px);
  background: #ff9800;
  color: white;
}

/* Light Blue*/
.pes {
    border-color: rgb(0, 63, 252);
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}
.pes:hover {
  transform: translateY(-10px);
    background: 	rgb(255, 164, 17);
    color: rgb(255, 255, 255);
}

/*Green*/
.spot {
    border-color: #18d30e;
    color: black;
transition: all 0.3s;
}
.spot:hover { 
  transform: translateY(-10px);
    background:  #18d30e;
    color: black;
}

.gpt {
    border-color: Green;
    color: black;
transition: all 0.3s;
}
.gpt:hover { 
  transform: translateY(-10px);
    background:  Green;
    color: black;
}


.wweb {
    border-color: #14ab0c;
    color: black;
    transition: all 0.3s;
}
.wweb:hover {
    transform: translateY(-10px);
    background:  #14ab0c;
    color: white;
}

.wweeb {
    transition: all 0.3s;
}
.wweeb:hover {
    transform: scale(1.3);
}
.gam {
    border-color: grey;
    color: black;
    transition: all 0.3s;
}
.gam:hover {
    transform: translateY(-10px);
    background:  linear-gradient(120deg,#e310c7,#00fff7);
    color: white;
}

.games12 {
  border-color: grey;
  color: black;
  transition: all 0.3s;
}
.games12:hover {
  transform: scale(1.25);
  background: #00fff7;
  color: white;
}

.games123 {
  border-color: grey;
  color: black;
  transition: all 0.3s;
}
.games123:hover {
  transform: scale(1.15);
  background: #000000;
  color: white;
}


.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Homepage setups*/
.stick{
  /*background-image: linear-gradient(-30deg,#e310c7,#00fff7) ;*/  
  top:0;
  left:0;
  width:100%;
  /* animation: 0.3s ease-out 0s 1 slideInLeft; */
  position: fixed;
  padding-top: 0;
  
}

.content{
  padding-top: 100px;
}

@keyframes content1 {
  0% {
     opacity: 0;
  }
  30%{opacity:0;}
  100% {
    opacity:1;
  }
}
.contentanim{
  position:relative;
  animation-name:content1;
  animation-duration:0.8s;
  animation-timing-function: ease-in-out;
 }

.inianim{
  position:relative;
  animation-name: content1;
  animation-duration: 0.65s;
  animation-timing-function: ease-in-outs;
}
.btmanim{
  position:relative;
  animation-name:content1;
  animation-duration:1s;
  animation-timing-function: ease-in-out;
}

/* Login buttons animation*/
.gam1 {
    border-color: #8f928f;
    color: black;
    transition: background-color 0.5s,transform 0.5s;
}
.gam1:hover {
    transform:scale(1.3);
    background:black;
    color: rgb(255, 255, 255);
}

@keyframes animations2 {
    0% {bottom:75px}
    25% {bottom:80px}
    50% {bottom:85px}
    75% {bottom:80px}
    100% {bottom:75px}
  }

.d2 {
    position: relative;
    animation-name: animations2 ;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

@keyframes animations1 { 
    0% {left:0px;top:-5px}
    50% {left:0px;top:15px}
    100% {left:0px;top:-5px}
  }

.d1 {
    position: relative;
    animation-name: animations1 ;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

.d11 {
    position: relative;
    animation-name: animations1 ;
    animation-duration: 3s;
    animation-delay: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

 /*Socials animation*/
@keyframes animations3 {
    0% {bottom:3px}
    25% {bottom:8px}
    50% {bottom:13px}
    75% {bottom:8px}
    100% {bottom:3px}
  }

.sclani {
    position: relative;
    animation-name: animations3 ;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

.social{
    bottom:0px;
    /* border: 2px solid #ff56e8; */
    /* border-radius: 5px; */
    position:relative;
    height: 50px;
    width: 50px;
    transition: all 0.3s; 
   }
   
.social:hover{
    transform:scale(1.4);
   }
   
.scl{
     position:absolute;
     /* height: 80px;*/
     width: 170px; 
     /* background: red;  */
     display: flex;
     justify-content: space-around;
     align-content: center;
     bottom:20px;
     left:20px;
   }

.socl1{
  position:absolute;
     /* height: 80px;*/
     width: 170px; 
     /* background: red;  */
     display: flex;
     justify-content: space-around;
     align-content: center;
     bottom:20px;
     right:20px;
}

/*Login page space setup*/
 .sub{
    width:300px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  } 

/* Reload Animations*/

.stick2{
    animation: 0.7s ease-in-out slideInLeft2;
    /* animation-delay: 4ms; */
}
.stick3{
    animation: 0.7s ease-in-out slideInLeft3;
    /* animation-delay: 6ms; */
}
.stick4{
    animation: 0.7s ease-in-out slideInLeft4;
    /* animation-delay: 8ms; */
}
.stick5{
    animation: 0.7s ease-in-out slideInLeft5;
    /* animation-delay: 10ms; */
}
.stick6{
    animation: 0.7s ease-in-out slideInLeft6;
    /* animation-delay: 12ms; */
}

@keyframes slideInLeft2 {
    0% {
      transform: translateX(-100%);opacity: 0;
    }
    100% {
      transform: translateX(0);opacity:1;
    }
  }

  @keyframes slideInLeft3 {
    0% {
      transform: translateX(-300%);opacity:0;
    }
    100% {
      transform: translateX(0);opacity:1;
    }
  }

  @keyframes slideInLeft4 {
    0% {
      transform: translateX(-400%);opacity:0;
    }
    100% {
      transform: translateX(0);opacity:1;
    }
  }

  
  @keyframes slideInLeft5 {
    0% {
      transform: translateX(-600%);opacity:0;
    }
    100% {
      transform: translateX(0);opacity:1;
    }
  }

  
  @keyframes slideInLeft6 {
    0% {
      transform: translateX(-700%);opacity:0;
    }
    100% {
      transform: translateX(0);opacity:1;
    }
  }
  
  @keyframes pop1 {
    0% {
      transform: scale(1);opacity: 0;
    }
    50% {
      transform: scale(1.3);opacity: 0.5;
    }
    100% {
        transform: scale(1);opacity: 1;
      }
  }

.pop1{
    animation: ease-in-out pop1;
    animation-duration: 0.5s;
    animation-delay: 3ms;
}
